.consultar-formularios {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Arial, sans-serif;
}

.consultar-formularios h2 {
  margin-top: 0;
}

.consultar-formularios form {
  display: flex;
  margin-bottom: 20px;
}

.consultar-formularios form label {
  margin-right: 10px;
}

.consultar-formularios form input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.consultar-formularios form button[type="submit"] {
  background-color: #bedeff;
  color: black;
  padding: 10px 20px;
  border: none;
}